@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "akira";
  src: url(/fonts/Akira\ Expanded\ Demo.otf);
}

:root {
  --bg-one: #84b6f4;
  --bg-darker: #050505;
  --bg-dark: #1d1c1a;
  --bg-two: #faf8f6;
  --bg-three: #e5e5e5;

  /* Textos */
  --text-light: #faf8f6;
  --text-dark: #1d1c1a;
  --text-logo: #03329b;

  --bg-logo-one: #ffac00;
  --bg-logo-two: #ffc200;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@media (min-width: 2000px) {
  .hero-info {
    width: 30%;
    margin-right: 0;
  }

  .categories {
    position: relative;
    width: calc(2000px - 50px);
    left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
  }
}

@media (max-width: 964px) {
  #hero {
    flex-direction: column;
  }
  #hero img {
    order: 0;
    width: 200px;
  }
  .hero-info {
    order: 1;
    width: 100%;
    margin: 10px;
  }

  .hero-info h1 {
    font-size: 2rem;
    text-align: center;
  }

  .hero-info p {
    display: none;
  }

  .menuspan {
    margin-left: 1.5rem;
    color: var(--text-light);
    display: flex;
  }

  .navlinks {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: var(--bg-logo-two);
    color: var(--bg-darker);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-200%);
    transition: all ease-in-out 0.5s;
  }

  .navlinks li a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--bg-darker);
  }

  .toggle-menu {
    transition: all ease-in-out 0.5s;
    transform: translate(0%);
  }
}

@media (max-width: 768px) {
  .products-spreadsheet {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--columns), 1fr);
  }
  .contact-form__submit {
    margin-top: 40px;
  }
}

@media (max-width: 530px) {
  .contact-form__field {
    width: 95%;
    min-width: 0;
  }
  .categories {
    left: 0;
    flex-direction: column;
  }

  .contact-form__submit {
    width: 50%;
  }
}

@media (max-width: 400px) {
  #about {
    margin-top: 20px;
  }
  .cardvalues {
    width: 250px;
  }
  .messagecart {
    height: auto;
  }
}

@media (max-width: 320px) {
  .contact-form {
    width: 100%;
    background-color: var(--bg-three);
  }

  .contact-form__field {
    width: 99%;
  }

  .cart {
    width: var(--screenwidth);
  }

  #about h2 {
    font-size: 1.5rem;
  }
  #contact h2 {
    font-size: 1rem;
  }
}

@media (max-width: 256px) {
  .product-card {
    min-width: 0;
  }
}
